<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Grupo10_Proyecto01"
        tools:targetApi="31">
        <activity
            android:name=".LocalAdministrado_EliminarActivity"
            android:exported="false" />
        <activity
            android:name=".Localidad_EliminarActivity"
            android:exported="false" />
        <activity
            android:name=".EventoEspecial_EliminarActivity"
            android:exported="false" />
        <activity
            android:name=".tipodeEvento_EliminarActivity"
            android:exported="false" />
        <activity
            android:name=".TipodeEvento_ConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".EventoEspecial_ConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".Localidad_ConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".LocalAdministrado_ConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".LocalAdministrado_ActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".Localidad_ActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".EventoEspecial_ActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".TipodeEvento_ActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".TipodeEvento_InsertarActivity"
            android:exported="false" />
        <activity
            android:name=".LocalAdministrado_InsertarActivity"
            android:exported="false" />
        <activity
            android:name=".Localidad_InsertarActivity"
            android:exported="false" />
        <activity
            android:name=".EventoEspecial_InsertarActivity"
            android:exported="false" />
        <activity
            android:name=".EventoEspecial_MenuActivity"
            android:exported="false" />
        <activity
            android:name=".LocalAdministrado_MenuActivity"
            android:exported="false" />
        <activity
            android:name=".Localidad_MenuActivity"
            android:exported="false" />
        <activity
            android:name=".Tipo_de_Empleado"
            android:exported="false" />
        <activity
            android:name=".Empleado_UES"
            android:exported="false" />
        <activity
            android:name=".Docente"
            android:exported="false" />
        <activity
            android:name=".Tipo_evento"
            android:exported="false" />
        <activity
            android:name=".Local_Administrado"
            android:exported="false" />
        <activity
            android:name=".Evento_Especial"
            android:exported="false" />
        <activity
            android:name=".Localidad"
            android:exported="false" />
        <activity
            android:name=".EventoEspecialDetalleActivity"
            android:exported="false"
            android:label="@string/headerEventoEspcial" />
        <activity
            android:name=".EventoEspecialActualizarActivity"
            android:exported="false"
            android:label="@string/headerEventoEspcial" />
        <activity
            android:name=".EventoEspecialInsertarActivity"
            android:exported="false"
            android:label="@string/headerEventoEspcial" />
        <activity
            android:name=".EventoEspecialMenuActivity"
            android:exported="false"
            android:label="@string/headerEventoEspcial" />
        <activity
            android:name=".UsuarioPerfilActivity"
            android:exported="false"
            android:label="@string/mp_opcion01" />
        <activity
            android:name=".MenuPrincipalActivity"
            android:exported="false"
            android:label="@string/menuprincipal" />
        <activity
            android:name=".PropuestaEspecificaInsertarActivity"
            android:exported="false"
            android:label="@string/txtViewPropuestaEspecificaTitulo" />
        <activity
            android:name=".PropuestaEspecificaDetalladaActivity"
            android:exported="false"
            android:label="@string/txtViewPropuestaEspecificaTitulo" />
        <activity
            android:name=".PropuestaGeneralDetalladaActivity"
            android:exported="false"
            android:label="@string/txtViewPropuestaTitulo" />
        <activity
            android:name=".DocenteMenuMateriaActivity"
            android:exported="false"
            android:label="@string/txtViewMateriaTitulo" />
        <activity
            android:name=".DocenteMenuCicloActivity"
            android:exported="false"
            android:label="@string/txtViewCicloTitulo" />
        <activity
            android:name=".ExpandableListDataPump"
            android:exported="false" />
        <activity
            android:name=".CustomExpandableListAdapter"
            android:exported="false" />
        <activity
            android:name=".EncargadoLabEISIPropuestaEspecificaDetalladaActivity"
            android:exported="false" />
        <activity
            android:name=".EncargadoLabEISIPropuestasEspecificasActivity"
            android:exported="false" />
        <activity
            android:name=".EncargadoLabEISILocalidadMenuActivity"
            android:exported="false" />
        <activity
            android:name=".SecretarioEscuelaPropuestaEspecificaDetalladaActivity"
            android:exported="false" />
        <activity
            android:name=".SecretarioEscuelaPropuestasEspecificasActivity"
            android:exported="false" />
        <activity
            android:name=".SecretarioEscuelaEdificioMenuActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>